@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  scroll-behavior: smooth;
}

/*INDICE
  1- COLORES Y TIPOGRAFIAS
  2- MIXINS
  3- GLOBALES
  4- BOTONES
  5- ESTILOS PARALLAX PRINCIPAL
  6- HEADER-PRINCIPAL
   6-1 MEDIA QUERYS HEADER-PRINCIPAL
  7- PRIMER-SECCION
   7-1 MEDIA QUERYS PRIMER-SECCION
  8- PORTFOLIO
   8-1 MEDIA QUERYS PORTFOLIO
  9- PARTNERS
   9-1 MEDIA QUERYS PARTNERS
  10- TESTIMONIOS
   10-1 MEDIA QUERYS TESTIMONIOS
   10-2 ESTILOS SWIPER TESTIMONIOS
  11- BLOG
   11-1 MEDIA QUERYS BLOG
  12- FOOTER-HOME
   12-1 MEDIA QUERYS FOOTER-HOME
  
  */
:root {
  --fondo-obscuro: #111517;
  --color-textos-grandes: #ef0d33;
  --color-base: #f5f5f5;
  --fuente-titulos: "Open Sans", sans-serif;
  --fuente-parrafos: "Oswald", sans-serif;
}

body {
  width: 100%;
  overflow-x: hidden;
  background: var(--fondo-obscuro);
  font-family: var(--fuente-titulos);
  font-display: swap;
  text-transform: uppercase;
}

img {
  max-width: 100%;
  max-height: 100%;
}

a {
  outline: none;
  color: inherit;
  text-decoration: none;
  -webkit-transition: none;
  transition: none;
}

.contenedor {
  width: 95%;
  height: 100%;
  margin: 0 auto;
}

.textos-comunes,
.textos-medianos {
  font-weight: 600;
}

.textos-medianos,
.pie-titulo,
.titulos-grandes {
  overflow: hidden;
  color: var(--fondo-obscuro);
}

.textos-comunes {
  margin: 30px 0;
  color: #d4d4d4;
  font-size: clamp(0.75rem, 1vw, 1.5rem);
  letter-spacing: 1px;
  line-height: 30px;
}

.textos-medianos {
  width: 80%;
  line-height: 30px;
  font-size: clamp(1.5rem, 2vw, 2rem);
  font-family: var(--fuente-parrafos);
  text-align: left;
  letter-spacing: 1px;
  cursor: pointer;
}

.pie-titulo {
  margin-top: 5px;
  font-size: clamp(0.6rem, 1.1vw, 1.1rem);
  text-align: center;
  font-weight: 900;
  letter-spacing: 0.7px;
  -webkit-transform: scale(1, 1.1);
          transform: scale(1, 1.1);
}

.mini-texto {
  position: relative;
  display: inline-block;
  padding-right: 20px;
  margin-bottom: 5px;
  overflow: hidden;
  color: var(--color-textos-grandes);
  font-size: clamp(0.6rem, 1vw, 1rem);
  font-weight: 900;
  -webkit-transform: scale(1, 1.3);
          transform: scale(1, 1.3);
}

.titulos-grandes {
  font-family: var(--fuente-parrafos);
  font-size: clamp(2rem, 4.5vw, 5rem);
  text-align: center;
  letter-spacing: -1px;
}

.header-primer-seccion,
.header-partners,
.header-blog,
.header-portfolio {
  margin-bottom: 60px;
}

.primer-seccion,
.portfolio,
.blog,
.testimonios,
.partners,
.footer-home {
  padding: 70px 0;
}

@media (min-width: 1440px) {
  .primer-seccion,
  .portfolio,
  .blog,
  .testimonios,
  .partners,
  .footer-home {
    padding: 90px 0;
  }
}

.delay-1,
.delay-2,
.delay-3 {
  position: absolute;
  right: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.35s ease-in;
  transition: 0.35s ease-in;
  background: var(--fondo-obscuro);
}

.delay-2 {
  -webkit-transition: 0.65s ease-in;
  transition: 0.65s ease-in;
}

.delay-3 {
  -webkit-transition: 0.9s ease-in;
  transition: 0.9s ease-in;
}

.btn,
.btn-secundario {
  cursor: pointer;
}

.btn {
  padding: 12px 25px;
  border: 1px solid var(--color-textos-grandes);
  color: var(--color-textos-grandes);
  background: none;
  font-family: var(--fuente-parrafos);
  font-size: 1.1rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 600;
}

.btn:hover {
  border: 1px solid var(--color-base);
  color: white;
}

.btn-secundario {
  height: 56px;
  padding: 20px 30px;
  border: none;
  color: var(--color-base);
  background: var(--fondo-obscuro);
  font-size: 0.9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn-secundario i {
  margin-left: 15px;
}

.btn-secundario:hover {
  background: var(--color-textos-grandes);
  color: var(--fondo-obscuro);
}

.btn-secundario:hover i {
  margin-left: 105px;
}

.span-grandes {
  position: relative;
  overflow: hidden;
  display: block;
}

.parallax-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  max-height: 100%;
  background: url("/images/imagenes-slider-header/portada01.webp");
}

.img-02 {
  background: url("/images/imagenes-slider-header/portada02.webp");
}

.img-03 {
  background: url("/images/imagenes-slider-header/portada03.webp");
}

.parallax-bg,
.img-02,
.img-03 {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.logo {
  color: red;
  font-size: 2rem;
  font-family: "Orbitron", sans-serif;
  font-style: italic;
  font-weight: bold;
  text-shadow: 1px 1px 1px black;
  cursor: pointer;
}

.navegacion-principal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 7;
  width: 100%;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(0, 0, 0, 0.61);
}

.navegacion-principal .logo-contenedor,
.navegacion-principal .hamburguesa {
  padding: 0 5px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navegacion-principal .hamburguesa {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navegacion-principal .hamburguesa span {
  width: 30px;
  height: 2px;
  background: white;
  margin: 4px;
}

.navegacion-principal .hamburguesa span:nth-child(2) {
  width: 40px;
}

.navegacion-principal .hamburguesa:hover span {
  background: var(--color-textos-grandes);
}

.navegacion-principal .hamburguesa:hover span:nth-child(2) {
  width: 30px;
}

.navegacion-principal .hamburguesa:hover span:nth-child(1) {
  width: 40px;
}

.navegacion-principal .hamburguesa:hover span:nth-child(3) {
  width: 40px;
}

.header-principal {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}

.header-principal .swiper-container {
  width: 100%;
  height: 100%;
}

.header-principal .swiper-slide {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.header-principal .swiper-pagination-bullet {
  opacity: 1;
  background: white;
}

.header-principal .swiper-pagination-bullet-active {
  margin: 0 25px !important;
  background-color: var(--color-textos-grandes);
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

@media (min-width: 1440px) {
  .header-principal .swiper-pagination-bullet {
    height: 10px;
    width: 10px;
  }
  .header-principal .swiper-pagination-bullet-active {
    margin: 0 45px !important;
  }
}

.header-principal .swiper-pagination {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 20px;
}

.contenido {
  position: relative;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.contenido .titulos-grandes {
  margin: 120px 0 20px 8px;
  color: var(--color-textos-grandes);
  text-align: left;
}

.contenido .span-grandes {
  background: var(--fondo-obscuro);
  display: inline-block;
  padding-right: 20px;
}

.contenido .span-grandes:nth-child(1) {
  padding-right: 15px;
}

.contenido .span-grandes:nth-child(2) {
  padding-right: 55px;
}

.contenido .span-grandes:nth-child(3) {
  padding-right: 45px;
}

.contenido .btn {
  width: 200px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-left: 8px;
}

.segundo-slide .span-grandes {
  background: var(--fondo-obscuro);
  color: white;
  margin: 0;
}

.segundo-slide .span-grandes:nth-child(1) {
  color: var(--color-textos-grandes);
}

.segundo-slide .delay-blanco {
  background: white;
  color: white;
}

.segundo-slide .delay-rojo {
  background: var(--color-textos-grandes);
}

.segundo-slide .btn-principal:hover {
  color: var(--fondo-obscuro);
  border: 1px solid var(--fondo-obscuro);
}

.contenedor-parrafos-rojos {
  letter-spacing: 1px;
  margin: 0px 0px 70px 8px;
}

.contenedor-parrafos-rojos .span-grandes {
  color: var(--color-textos-grandes);
  font-size: clamp(0.7rem, 1vw, 2rem);
  padding: 2px 0;
  font-weight: 900;
}

@media (min-width: 768px) {
  .segundo-slide .btn-principal:hover {
    color: white;
    border: 1px solid white;
  }
}

.menu-desplegable {
  position: absolute;
  top: 0;
  right: -100%;
  z-index: 9;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: var(--fondo-obscuro);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.menu-desplegable .navegacion-desplegable {
  position: relative;
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-desplegable .navegacion-desplegable .boton-cerrar {
  position: relative;
  width: 65px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-desplegable .navegacion-desplegable .cruz {
  position: absolute;
  width: 50px;
  height: 3px;
  margin: 2px;
  background: white;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.menu-desplegable .navegacion-desplegable .cruz-02 {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.menu-desplegable .contenedor-imagen-descripcion {
  width: 100%;
  height: calc(100% - 50px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-desplegable .imagen-desplegable {
  display: none;
}

.menu-desplegable .imagen-desplegable img {
  width: 100%;
  -webkit-filter: opacity(0.7);
          filter: opacity(0.7);
}

.menu-desplegable .descripcion-desplegable {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-desplegable .descripcion-desplegable .titulos-grandes {
  margin: 10px 0;
  color: white;
  font-size: clamp(1.5rem, 3vw, 3.5rem);
  cursor: pointer;
}

.menu-desplegable .descripcion-desplegable .titulos-grandes:hover {
  color: var(--color-textos-grandes);
}

@media (min-width: 768px) {
  .menu-desplegable .imagen-desplegable {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 50%;
    height: 100%;
  }
  .menu-desplegable .descripcion-desplegable {
    width: 50%;
  }
}

@media (min-width: 1024px) {
  .header-principal .parallax-bg {
    width: 50%;
  }
  .contenido {
    position: relative;
    width: 50%;
    margin-left: auto;
    padding: 0 15px;
  }
  .contenido .titulos-grandes {
    width: 100%;
  }
  .navegacion-principal {
    padding: 0 120px;
  }
}

.primer-seccion {
  width: 100%;
}

.primer-seccion .header-primer-seccion {
  width: 100%;
}

.primer-seccion .titulos-grandes {
  color: var(--color-textos-grandes);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.primer-seccion .contenido-primer-seccion {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
}

.primer-seccion .contenido-primer-seccion .textos-comunes {
  margin: 0 0 30px 0;
  text-align: center;
  max-width: 800px;
}

.primer-seccion .lista-primer-seccion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 50px;
  color: var(--color-base);
}

.primer-seccion .lista-primer-seccion li {
  margin: 5px 15px;
  text-align: center;
}

.primer-seccion .lista-primer-seccion .textos-comunes {
  margin: 0;
}

@media (min-width: 768px) {
  .primer-seccion .contenido-primer-seccion {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .primer-seccion .contenido-primer-seccion .textos-comunes {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    padding: 0 25px;
    line-height: 4;
    text-align: center;
  }
}

@media (min-width: 1440px) {
  .contenido-primer-seccion {
    margin-bottom: 100px;
  }
  .contenido-primer-seccion .textos-comunes {
    margin: 0 40px;
    text-align: justify;
  }
  .header-primer-seccion {
    margin: 80px 0;
  }
}

.portfolio {
  background: var(--color-base);
  height: auto;
}

.portfolio .delay-1,
.portfolio .delay-2,
.portfolio .delay-3 {
  background: var(--color-base);
}

.cartas-portfolio {
  width: 100%;
  padding-bottom: 5px;
  margin-bottom: 55px;
}

.cartas-portfolio .textos-medianos {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.cartas-portfolio .textos-comunes {
  color: #a0a0a0;
  font-size: clamp(0.75rem, 1vh, 1.1rem);
}

.cartas-portfolio .imagenes-portfolio {
  position: relative;
  width: 100%;
  overflow: hidden;
  cursor: pointer;
}

.cartas-portfolio .imagenes-portfolio .delay-1 {
  background: var(--fondo-obscuro);
}

.cartas-portfolio .imagenes-portfolio:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.cartas-portfolio .btn {
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .portfolio .cartas-portfolio {
    max-width: 1000px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    margin: 0 auto;
  }
  .portfolio .cartas-portfolio .cartas-descripcion {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 0 0 0 30px;
  }
  .portfolio .cartas-portfolio .imagenes-portfolio {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .portfolio .cartas-portfolio:nth-child(odd) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .portfolio .cartas-portfolio:nth-child(odd) .cartas-descripcion {
    padding: 0 30px 0 0;
  }
}

.partners .header-partners {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0 8px;
}

.partners .titulos-grandes {
  color: var(--color-textos-grandes);
  letter-spacing: 2px;
  text-align: left;
}

.partners .contenedor-compañias {
  width: 100%;
  max-width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
}

.partners .compañia-item {
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding: 15px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.partners .compañia-item img {
  -webkit-filter: opacity(70%);
          filter: opacity(70%);
}

.partners .compañia-item:nth-child(odd) {
  border-right: 1px solid #9b9b9b;
  border-bottom: 1px solid #9e9e9e;
}

.partners .compañia-item:nth-child(even) {
  border-bottom: 1px solid #9e9e9e;
}

.partners .compañia-item:nth-child(11),
.partners .compañia-item:nth-child(12) {
  border-bottom: none;
}

@media (min-width: 768px) {
  .partners .contenedor-compañias {
    max-width: 2400px;
  }
  .partners .contenedor-compañias .compañia-item {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
  }
  .partners .contenedor-compañias .compañia-item:nth-child(3),
  .partners .contenedor-compañias .compañia-item:nth-child(7),
  .partners .contenedor-compañias .compañia-item:nth-child(11) {
    border-left: 1px solid #9e9e9e;
  }
  .partners .contenedor-compañias .compañia-item:nth-child(9),
  .partners .contenedor-compañias .compañia-item:nth-child(10),
  .partners .contenedor-compañias .compañia-item:nth-child(11),
  .partners .contenedor-compañias .compañia-item:nth-child(12) {
    border-bottom: none;
  }
}

.testimonios {
  background: var(--fondo-obscuro);
  overflow-x: hidden;
}

.testimonios .item-carrete {
  max-width: 700px;
  padding: 15px 0;
  margin: 0 auto;
  overflow: hidden;
}

.testimonios .item-carrete .imagen-item-carrete {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 35px;
  overflow: hidden;
}

.testimonios .item-carrete .descripcion-item-carrete {
  position: relative;
  margin-bottom: 25px;
  background: var(--color-textos-grandes);
}

.testimonios .item-carrete .descripcion-item-carrete:after {
  content: "";
  position: absolute;
  top: -5px;
  z-index: 0;
  width: 35px;
  height: 35px;
  left: calc(50% - 20px);
  background: var(--color-textos-grandes);
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.testimonios .item-carrete .textos-comunes {
  position: relative;
  z-index: 9;
  width: 100%;
  padding: 15px;
  margin: 0;
  color: white;
  text-align: justify;
  font-weight: 900;
  letter-spacing: 0;
}

.testimonios .item-carrete .nombre-item-carrete {
  width: 100%;
  height: 25px;
  margin-bottom: 20px;
  text-align: center;
}

.testimonios .item-carrete .nombre-item-carrete .mini-texto {
  color: var(--color-base);
  font-family: var(--fuente-parrafos);
}

.testimonios .item-carrete .nombre-item-carrete span {
  color: #979797;
}

.testimonios .swiper-pagination-bullet-active {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  margin: 0 15px !important;
}

.testimonios .swiper-puntitos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonios .swiper-pagination-bullet {
  background: white;
}

@media (min-width: 1440px) {
  .testimonios .item-carrete .textos-comunes {
    line-height: 3;
  }
}

.blog {
  background: var(--color-base);
}

.blog .delay-1,
.blog .delay-2,
.blog .delay-3 {
  background: #eeeeee;
}

.blog .titulos-grandes {
  cursor: pointer;
}

.cartas-blog {
  max-width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto 50px;
  padding-bottom: 25px;
  background: #eeeeee;
}

.cartas-blog .contenedor-imagen-blog {
  margin-bottom: 25px;
  width: 100%;
  cursor: pointer;
}

.cartas-blog .span-grandes {
  margin-bottom: 4px;
}

.cartas-blog .tags-blog {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cartas-blog .tags-blog .icono-tag {
  width: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--color-textos-grandes);
  font-family: var(--fuente-parrafos);
  letter-spacing: 2px;
}

.cartas-blog .tags-blog li {
  padding: 0 10px;
  color: #686868;
  font-size: clamp(0.6rem, 0.7vw, 1rem);
  cursor: pointer;
}

.cartas-blog .tags-blog li:hover {
  color: black;
}

.cartas-blog .footer-cartas {
  width: 100%;
  height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cartas-blog .footer-cartas .pie-titulo:nth-child(1) {
  cursor: pointer;
}

.cartas-blog .footer-cartas .pie-titulo:nth-child(1):hover {
  color: var(--color-textos-grandes);
}

@media (min-width: 1024px) {
  .blog .contenedor {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .blog .header-blog {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .blog .cartas-blog {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer-home {
  padding-bottom: 0;
  color: var(--color-base);
  background: var(--fondo-obscuro);
  font-family: var(--fuente-parrafos);
}

.footer-home .contenedor {
  max-width: 1400px;
}

.footer-home .logo-footer {
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  color: var(--color-textos-grandes);
}

.footer-home .logo-footer .textos-grandes {
  font-family: "Orbitron", sans-serif;
}

.footer-home .nav-footer,
.footer-home .redes-sociales {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 900;
  margin-bottom: 50px;
}

.footer-home .nav-footer ul,
.footer-home .redes-sociales ul {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

.footer-home .contacto-footer {
  margin-bottom: 50px;
}

.footer-home .contacto-footer .mail,
.footer-home .contacto-footer .telefono,
.footer-home .contacto-footer .direccion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 10px auto;
}

.footer-home .contacto-footer .mail i,
.footer-home .contacto-footer .telefono i,
.footer-home .contacto-footer .direccion i {
  width: 20%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-home .contacto-footer .mail p,
.footer-home .contacto-footer .telefono p,
.footer-home .contacto-footer .direccion p {
  width: 80%;
}

.footer-home .copy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: clamp(0.8rem, 1.5vw, 1.2rem);
}

.footer-home .textos-medianos {
  margin: 0 auto 20px;
  padding: 15px 0;
  color: var(--color-textos-grandes);
  text-align: center;
}

.footer-home .textos-comunes {
  margin: 5px 0;
  color: white;
  font-size: clamp(0.9rem, 1.3vw, 1.7rem);
  cursor: pointer;
}

.footer-home .textos-comunes:hover {
  color: var(--color-textos-grandes);
}

@media (min-width: 768px) {
  .footer-home {
    height: 500px;
  }
  .footer-home .contenedor {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer-home .nav-footer,
  .footer-home .redes-sociales,
  .footer-home .contacto-footer {
    -ms-flex-preferred-size: 33%;
        flex-basis: 33%;
  }
  .footer-home .copy {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.derecha {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
  right: -100%;
}
/*# sourceMappingURL=styles.css.map */