* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.5s ease-in-out;
}

/*INDICE
  1- COLORES Y TIPOGRAFIAS
  2- MIXINS
  3- GLOBALES
  4- BOTONES
  5- ESTILOS PARALLAX PRINCIPAL
  6- HEADER-PRINCIPAL
   6-1 MEDIA QUERYS HEADER-PRINCIPAL
  7- PRIMER-SECCION
   7-1 MEDIA QUERYS PRIMER-SECCION
  8- PORTFOLIO
   8-1 MEDIA QUERYS PORTFOLIO
  9- PARTNERS
   9-1 MEDIA QUERYS PARTNERS
  10- TESTIMONIOS
   10-1 MEDIA QUERYS TESTIMONIOS
   10-2 ESTILOS SWIPER TESTIMONIOS
  11- BLOG
   11-1 MEDIA QUERYS BLOG
  12- FOOTER-HOME
   12-1 MEDIA QUERYS FOOTER-HOME
  
  */

//***********COLORES Y TIPOGRAFIAS****************//

:root {
  --fondo-obscuro: #111517;
  --color-textos-grandes: #ef0d33;
  --color-base: #f5f5f5;
  --fuente-titulos: "Open Sans", sans-serif;
  --fuente-parrafos: "Oswald", sans-serif;
}

//MIXINS

@mixin flexbox($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin background($size, $repeat, $position) {
  background-size: $size;
  background-repeat: $repeat;
  background-position: $position;
}

//***************GLOBALES***********************//

p {
  font-size: 0.8rem;
}

body {
  width: 100%;
  overflow-x: hidden !important;
  background: var(--fondo-obscuro);
  font-family: var(--fuente-titulos);
  font-display: swap;
  text-transform: uppercase;
}

img {
  max-width: 100%;
  max-height: 100%;
} //IMAGENES RESPONSIVE

.contenedor {
  width: 95%;
  margin: 0 auto;
  height: 100%;
}

.textos-comunes,
.textos-medianos,
.parrafos-rojos {
  font-weight: 600;
}

.textos-medianos,
.pie-titulo,
.titulos-grandes {
  color: var(--fondo-obscuro);
  overflow: hidden;
}

.textos-comunes {
  letter-spacing: 1px;
  margin: 30px 0;
  font-size: clamp(0.75rem, 1vw, 2rem);
  line-height: 30px;
  color: #d4d4d4;
}

.textos-medianos {
  font-family: var(--fuente-parrafos);
  text-align: left;
  font-size: 1.5rem;
  width: 80%;
  letter-spacing: 1px;
  line-height: 30px;
}

.pie-titulo {
  text-align: center;
  margin-top: 5px;
  font-size: 0.6rem;
  font-weight: 900;
  letter-spacing: 0.7px;
  transform: scale(1, 1.1);
}

.mini-texto {
  color: var(--color-textos-grandes);
  font-weight: 900;
  font-size: 0.6rem;
  display: inline-block;
  padding-right: 20px;
  margin-bottom: 5px;
  transform: scale(1, 1.3);
  overflow: hidden;
  position: relative;
}

.titulos-grandes {
  font-family: var(--fuente-parrafos);
  text-align: center;
  font-size: clamp(2rem, 5.5vw, 5rem);
  letter-spacing: -1px;
}

.contenedor-parrafos-rojos {
  color: var(--color-textos-grandes);
  letter-spacing: 1px;
  margin: 0px 0px 70px 8px;
  .parrafos-rojos {
    background: var(--fondo-obscuro);
    padding: 1px 5px 1px 0;
    position: relative;
    display: inline-block;
    overflow-x: hidden;
  }
}

.header-primer-seccion,
.header-partners,
.header-blog,
.header-portfolio {
  margin-bottom: 60px;
}
.primer-seccion,
.portfolio,
.blog,
.testimonios,
.partners,
.footer-home {
  padding: 70px 0;
}
@media (min-width: 1440px) {
  .primer-seccion,
  .portfolio,
  .blog,
  .testimonios,
  .partners,
  .footer-home {
    padding: 90px 0;
  }
}

//*******************BOTONES******************//

.btn {
  color: var(--color-textos-grandes);
  border: 1px solid var(--color-textos-grandes);
  font-family: var(--fuente-parrafos);
  background: none;
  padding: 12px 25px;
  font-size: 1.1rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 600;
}

.btn-secundario {
  background: var(--fondo-obscuro);
  color: var(--color-base);
  border: none;
  padding: 20px 30px;
  font-size: 0.9rem;
  margin-bottom: 55px;
  @include flexbox(row, space-evenly, center);
  i {
    margin-left: 15px;
  }
}

//CONTENEDORES DEL EFECTO BACKGROUND QUE SE DESPLAZA
.span-grandes {
  position: relative;
  overflow: hidden;
}

//*****************ESTILOS DEL PARALLAX PRINCIPAL **************//
.parallax-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  max-height: 100%;
  background: url(../images/woman-in-white-tube-on-focus-photography-2114333.webp);
}
.img-02 {
  background: url(/images/asd1.webp);
}
.img-03 {
  background: url(/images/side-view-photo-of-woman-2010877.webp);
}
.parallax-bg,
.img-02,
.img-03 {
  @include background(cover, no-repeat, center);
  filter: brightness(1.1);
}

//**************ESTILOS HEADER-PRINCIPAL*****************//
.header-principal {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  position: relative;
  .navegacion-principal {
    width: 100%;
    height: 45px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    @include flexbox(row, space-between, center);
  }
  .logo,
  .hamburguesa {
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: var(--color-base);
    padding: 0 5px;
    height: 100%;
    @include flexbox(column, center, center);
  }
  .hamburguesa {
    align-items: flex-end;
    span {
      width: 40px;
      height: 2px;
      background: white;
      margin: 4px;
    }
  }
  .swiper-container {
    width: 100%;
    height: 100%;
  }
  .swiper-slide {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .contenido {
    width: 100%;
    height: 100%;
    @include flexbox(column, center, flex-start);
    position: relative;
    .titulos-grandes {
      color: var(--color-textos-grandes);
      width: 320px;
      margin: 120px 0 20px 8px;
      text-align: left;
    }
    .span-grandes {
      position: relative;
      padding: 1px 15px 1px 0;
      background: var(--fondo-obscuro);
      margin: 2px 0;
      display: inline-block;
      overflow: hidden;
    }
    .span-grandes:last-of-type {
      padding-right: 45px;
    }
    .btn {
      width: 200px;
      align-self: flex-start;
      margin-left: 8px;
    }
  }

  .swiper-pagination-bullet {
    background: white;
    opacity: 1;
  }
  .swiper-pagination-bullet-active {
    background-color: var(--color-textos-grandes);
    transform: scale(1.5);
    margin: 0 15px !important;
  }

  .swiper-pagination {
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
    width: 100%;
  }
}
//MEDIA QUERYS HEADER-PRINCIPAL

@media (min-width: 1024px) {
  .header-principal {
    .parallax-bg {
      width: 50%;
    }
    .contenido {
      position: relative;
      width: 50%;
      margin-left: auto;
      padding: 0 15px;
      .titulos-grandes {
        width: 100%;
      }
    }
  }
}

//*****************ESTILOS PRIMER-SECCION*******************//

.primer-seccion {
  width: 100%;
  .header-primer-seccion {
    width: 100%;
  }
  .titulos-grandes {
    color: var(--color-textos-grandes);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .contenido-primer-seccion {
    width: 100%;
    @include flexbox(column, center, center);
    text-align: left;
    .textos-comunes {
      margin: 0 0 30px 0;
      text-align: center;
    }
  }
  span {
    padding: 3px 5px 3px 0;
  }
  .lista-primer-seccion {
    @include flexbox(row, center, center);
    flex-wrap: wrap;
    height: 50px;
    color: var(--color-base);
    li {
      flex-basis: 80px;
      margin: 5px 15px;
      text-align: center;
    }
    .textos-comunes {
      margin: 0;
      font-weight: 600;
      letter-spacing: 1px;
      font-size: 0.75rem;
    }
  }
}

//MEDIA QUERYS PRIMER SECCION

//MEDIA QUERYS 768PX

@media (min-width: 768px) {
  .primer-seccion {
    .contenido-primer-seccion {
      flex-direction: row;
      .textos-comunes {
        flex-basis: 50%;
        padding: 0 25px;
        line-height: 40px;
        text-align: left;
      }
    }
  }
}

//MEDIA QUERYS 1440PX

@media (min-width: 1440px) {
  .contenido-primer-seccion {
    margin-bottom: 100px;
    .textos-comunes {
      line-height: 50px;
    }
  }
  .header-primer-seccion {
    height: 200px;
  }
}

//************ESTILOS PORTFOLIO***********//
.portfolio {
  background: var(--color-base);
  .cartas-portfolio {
    width: 100%;
    padding-bottom: 5px;
    margin-bottom: 55px;
    .textos-medianos {
      width: 60%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: left;
    }
    .textos-comunes {
      color: #a0a0a0;
      font-size: 0.75rem;
    }
    .imagenes-portfolio {
      width: 100%;
    }
    .btn {
      margin-bottom: 10px;
    }
  }
}

//MEDIA QUERYS PORTFOLIO

@media (min-width: 768px) {
  .portfolio {
    .cartas-portfolio {
      margin: 0 auto;
      max-width: 1000px;
      display: flex;
      flex-direction: row-reverse;

      .cartas-descripcion {
        flex-basis: 50%;
        @include flexbox(column, center, flex-start);
        padding: 0 0 0 30px;
        .mini-texto {
          width: 70px !important;
        }
      }
      .imagenes-portfolio {
        flex-basis: 50%;
      }
    }
    .cartas-portfolio:nth-child(odd) {
      flex-direction: row;
      .cartas-descripcion {
        padding: 0 30px 0 0;
      }
    }
  }
}

//**************ESTILOS PARTNERS*****************//

.partners {
  .header-partners {
    padding: 0 8px;
  }
  .textos-medianos {
    width: 60%;
    color: var(--color-textos-grandes);
    letter-spacing: 2px;
    font-size: 1.65rem;
  }
  .contenedor-compañias {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 95%;
    margin: 0 auto;
  }
  .compañia-item {
    @include flexbox(row, center, center);
    flex-basis: 50%;
    height: 150px;
    padding: 15px;
    @include background(cover, no-repeat, center);
    img {
      filter: opacity(70%);
    }
  }
  .compañia-item:nth-child(odd) {
    border-right: 1px solid rgb(155, 155, 155);
    border-bottom: 1px solid rgb(158, 158, 158);
  }
  .compañia-item:nth-child(even) {
    border-bottom: 1px solid rgb(158, 158, 158);
  }
  .compañia-item:nth-child(11),
  .compañia-item:nth-child(12) {
    border-bottom: none;
  }
}

//MEDIA QUERYS PARTNERS

//MEDIA QUERY 768PX
@media (min-width: 768px) {
  .partners {
    .header-partners {
      padding: 0 15px;
      .textos-medianos {
        font-size: 2.3rem;
        line-height: 50px;
      }
    }
    .contenedor-compañias {
      .compañia-item {
        flex-basis: 25%;
      }
      .compañia-item:nth-child(3),
      .compañia-item:nth-child(7),
      .compañia-item:nth-child(11) {
        border-left: 1px solid rgb(158, 158, 158);
      }
      .compañia-item:nth-child(9),
      .compañia-item:nth-child(10),
      .compañia-item:nth-child(11),
      .compañia-item:nth-child(12) {
        border-bottom: none;
      }
    }
  }
}

//***************ESTILOS TESTIMONIOS**************//
.testimonios {
  background: var(--color-base);
  overflow-x: hidden;
  .item-carrete {
    overflow: hidden;
    max-width: 700px;
    padding: 15px 0;
    margin: 0 auto;
    .imagen-item-carrete {
      background: url(../images/woman-wears-black-t-shirt-close-up-photography-2916324.webp);
      @include background(cover, no-repeat, center);
      height: 120px;
      width: 120px;
      margin: 0 auto;
      border-radius: 50%;
      margin-bottom: 35px;
    }
    .descripcion-item-carrete {
      background: var(--color-textos-grandes);
      position: relative;
      margin-bottom: 25px;
    }
    .descripcion-item-carrete:after {
      content: "";
      background: var(--color-textos-grandes);
      position: absolute;
      width: 35px;
      height: 35px;
      top: -5px;
      left: calc(50% - 20px);
      transform: rotate(45deg);
      z-index: 0;
    }
    .textos-comunes {
      position: relative;
      z-index: 9;
      color: white;
      text-align: justify;
      width: 100%;
      font-weight: 900;
      letter-spacing: 0;
      font-size: 0.72rem;
      padding: 15px;
      margin: 0;
    }
    .nombre-item-carrete {
      margin-bottom: 20px;
      width: 100%;
      height: 25px;
      text-align: center;
      .mini-texto {
        color: var(--fondo-obscuro);
        font-family: var(--fuente-parrafos);
      }
      span {
        color: rgb(122, 122, 122);
      }
    }
  }
  //Estilos Swiper Testimonios
  .swiper-pagination-bullet-active {
    background-color: var(--fondo-obscuro);
    transform: scale(1.5);
    margin: 0 15px !important;
    //no encontre la manera de ponerle el margin sin el important, seguro tiene un parent que no veo
  }
  .swiper-puntitos {
    @include flexbox(row, center, center);
  }
  .swiper-pagination-bullet {
    background: red;
  }
}

//*************************ESTILOS BLOG*****************//

.blog {
  background: var(--color-base);
  .cartas-blog {
    margin: 0 auto 50px;
    @include flexbox(column, center, center);
    max-width: 500px;
    background: rgb(238, 238, 238);
    padding-bottom: 25px;
    .contenedor-imagen-blog {
      margin-bottom: 25px;
      width: 100%;
    }
    .tags-blog {
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      @include flexbox(row, flex-start, center);
      .icono-tag {
        width: 25px;
        @include flexbox(row, center, center);
        font-size: 0.85rem;
        color: var(--color-textos-grandes);
      }
      li {
        font-size: 0.7rem;
        padding: 0 10px;
        color: rgb(104, 104, 104);
      }
    }
    .textos-comunes {
      font-family: var(--fuente-parrafos);
      font-size: 0.55rem;
      letter-spacing: 2px;
    }
    .footer-cartas {
      width: 100%;
      height: 25px;
      @include flexbox(row, space-between, center);
    }
  }
}

//MEDIA QUERYS BLOG 1024PX

@media (min-width: 1024px) {
  .blog {
    .contenedor {
      display: flex;
      flex-wrap: wrap;
    }
    .header-blog {
      flex-basis: 100%;
    }
    .cartas-blog {
      flex-basis: 30%;
      display: flex;
      flex-direction: column;
    }
  }
}

//ESTILOS FOOTER-HOME
.footer-home {
  font-family: var(--fuente-parrafos);

  font-size: 0.95rem;
  color: var(--color-base);
  padding-top: 80px;
  .contenedor {
    max-width: 1400px;
  }
  .logo-footer {
    height: 60px;
    margin-bottom: 30px;
    @include flexbox(row, center, center);
    color: var(--color-textos-grandes);
  }
  .nav-footer,
  .redes-sociales {
    font-weight: 900;
    height: 200px;
    margin-bottom: 50px;
    ul {
      height: 100%;
      @include flexbox(column, space-evenly, center);
      list-style: none;
    }
  }
  .contacto-footer {
    margin-bottom: 50px;
    height: 150px;
    @include flexbox(column, space-evenly, space-evenly);
    .mail,
    .telefono,
    .direccion {
      @include flexbox(row, center, center);
      font-size: 0.7rem;
      i {
        margin: 0px 10px;
      }
    }
    .direccion {
      width: 70%;
      margin: 0 auto;
      line-height: 25px;
      text-align: center;
    }
  }
  .redes-sociales {
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 0.8rem;
  }
  .copy {
    text-align: center;
  }
}

//FOOTER HOME MEDIA QUERYS

//MEDIA QUERYS 768PX
@media (min-width: 768px) {
  .footer-home {
    height: 500px;
    .contenedor {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
    .logo-footer,
    .nav-footer,
    .redes-sociales {
      flex-basis: 20%;
    }
    .contacto-footer {
      flex-basis: 40%;
    }
    .copy {
      flex-basis: 100%;
    }
  }
}

.delay-1,
.delay-2,
.delay-3 {
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background: white;
  transition: 0.35s ease-in;
  z-index: 5;
}
.delay-2 {
  transition: 0.65s ease-in;
}
.delay-3 {
  transition: 0.95s ease-in;
}
.menu-desplegable {
  width: 100%;
  height: 100vh;
  background: black;
  top: 0;
  position: absolute;
  right: -100%;
  z-index: 999999;
  display: flex;
  flex-direction: column;
  transition-delay: 0.5s;
  .navegacion-desplegable {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    position: relative;
    background: black;
    .boton-cerrar {
      width: 65px;
      height: 100%;
      @include flexbox(column, center, center);
      position: relative;
    }
    .cruz {
      background: white;
      width: 50px;
      height: 3px;
      margin: 2px;
      position: absolute;
      transform: rotate(-45deg); //PARA LOGRAR UNA CRUZ CENTRADA
    }
    .cruz-02 {
      transform: rotate(45deg);
    } //EFECTO AL USAR LA API
  }
  .contenedor-imagen-descripcion {
    width: 100%;
    height: calc(100% - 50px);
    display: flex;
  }
  .imagen-desplegable {
    display: none;
    img {
      width: 100%;
    }
  }

  .descripcion-desplegable {
    width: 100%;
    height: 100%;
    color: white;
    @include flexbox(column, center, center);
    .titulos-grandes {
      color: white;
      margin: 10px 0;
      font-size: max(2rem);
    }
  }
}
//MEDIA QUERYS DDMENU-OCULTO

//QUERYS 768PX

@media (min-width: 768px) {
  .menu-desplegable {
    .imagen-desplegable {
      display: flex;
      width: 50%;
      height: 100%;
    }
    .descripcion-desplegable {
      width: 50%;
    }
  }
}
