@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

p {
  font-size: 0.8rem;
}

body {
  overflow-x: hidden;
  background: var(--fondo-obscuro);
  font-family: var(--fuente-titulos);
}

.contenedor {
  width: 95%;
  margin: 0 auto;
  height: 100%;
}

.textos-comunes {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 30px 0;
  font-size: 0.85rem;
  line-height: 30px;
  color: #d4d4d4;
}

.textos-medianos {
  text-transform: uppercase;
  font-family: var(--fuente-parrafos);
  text-align: left;
  color: var(--fondo-obscuro);
  font-size: 1.5rem;
  width: 80%;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 30px;
}

.pie-titulo {
  text-align: center;
  margin-top: 5px;
  text-transform: uppercase;
  font-size: 0.6rem;
  color: var(--fondo-obscuro);
  font-weight: 900;
  letter-spacing: 0.7px;
  -webkit-transform: scale(1, 1.1);
          transform: scale(1, 1.1);
}

.mini-texto {
  color: var(--color-textos-grandes);
  text-transform: uppercase;
  font-weight: 800;
  font-size: 0.65rem;
  display: inline-block;
  margin-bottom: 5px;
}

.titulos-grandes {
  text-transform: uppercase;
  font-family: var(--fuente-parrafos);
  text-align: center;
  color: var(--fondo-obscuro);
  font-size: clamp(2rem, 5.5vw, 5rem) !important;
  letter-spacing: -1px;
}

.parrafos-rojos {
  text-transform: uppercase;
  color: var(--color-textos-grandes);
  font-weight: 600;
  letter-spacing: 1px;
  margin: 0px 0px 70px 8px;
}

.parrafos-rojos span {
  padding: 5px 5px 5px 0;
  display: inline-block;
  background: black;
}

img {
  max-width: 100%;
  max-height: 100%;
}

:root {
  --fondo-obscuro: #111517;
  --color-textos-grandes: #ef0d33;
  --fuente-titulos: "Open Sans", sans-serif;
  --fuente-parrafos: "Oswald", sans-serif;
}

.btn {
  background: none;
  color: var(--color-textos-grandes);
  border: 1px solid var(--color-textos-grandes);
  padding: 12px 25px;
  font-size: 1.1rem;
  text-transform: uppercase;
  font-family: var(--fuente-parrafos);
  letter-spacing: 3px;
  font-weight: 500;
}

.btn-secundario {
  background: var(--fondo-obscuro);
  color: #f5f5f5;
  padding: 20px 30px;
  border: none;
  font-size: 0.9rem;
  margin-bottom: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.btn-secundario i {
  margin-left: 15px;
}

.parallax-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  max-height: 100%;
  background: url(../images/woman-in-black-jacket-and-jeans-standing-beside-wall-with-3956803.jpg);
}

.img-02 {
  background: url(/images/woman-s-face-1988681.jpg);
}

.img-03 {
  background: url(/images/woman-holding-smartphone-with-background-of-woman-s-face-3887990.jpg);
}

.parallax-bg,
.img-02,
.img-03 {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-filter: brightness(0.8);
          filter: brightness(0.8);
}

.header-principal {
  width: 100%;
  height: 100vh;
}

.header-principal nav {
  width: 100%;
  height: 45px;
  position: absolute;
  top: 0;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-principal .logo,
.header-principal .hamburguesa {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: white;
  padding: 0 5px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: red;
}

.header-principal .hamburguesa {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.header-principal .hamburguesa span {
  width: 40px;
  height: 2px;
  background: white;
  margin: 4px;
}

.header-principal .swiper-container {
  width: 100%;
  height: 100%;
}

.header-principal .swiper-slide {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.header-principal .contenido {
  font-size: 2rem;
  color: white;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  z-index: 9999;
}

.header-principal .contenido .titulos-grandes {
  width: 320px;
  margin: 120px 0 20px 8px;
  text-align: left;
  color: var(--color-textos-grandes);
}

.header-principal .contenido .span-grandes {
  padding: 1px 15px 1px 0;
  background: var(--fondo-obscuro);
  margin: 2px 0;
  display: inline-block;
}

.header-principal .contenido .span-grandes:last-of-type {
  padding-right: 45px;
}

.header-principal .contenido .btn {
  width: 200px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-left: 8px;
}

@media (min-width: 1024px) {
  .header-principal .parallax-bg {
    width: 50%;
  }
  .header-principal .contenido {
    position: relative;
    width: 50%;
    margin-left: auto;
    padding: 0 15px;
  }
  .header-principal .contenido .titulos-grandes {
    width: 100%;
  }
}

.header-principal .swiper-pagination-bullet {
  background: white;
  opacity: 1;
}

.header-principal .swiper-pagination-bullet-active {
  background-color: var(--color-textos-grandes);
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  margin: 0 15px !important;
}

.header-principal .swiper-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 20px;
  width: 100%;
}

@media (min-width: 768px) {
  .contenido .btn {
    padding: 15px 45px;
  }
  .portfolio .cartas-portfolio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .portfolio .cartas-portfolio .cartas-descripcion {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 0 0 0 30px;
  }
  .portfolio .cartas-portfolio .imagenes-portfolio {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .portfolio .cartas-portfolio:nth-child(odd) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .portfolio .cartas-portfolio:nth-child(odd) .cartas-descripcion {
    padding: 0 30px 0 0;
  }
  .partners .header-partners {
    padding: 0 15px;
  }
  .partners .header-partners .textos-medianos {
    font-size: 2.3rem;
    line-height: 50px;
  }
  .partners .contenedor-compañias .compañia-item {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
  }
  .partners .contenedor-compañias .compañia-item:nth-child(3),
  .partners .contenedor-compañias .compañia-item:nth-child(7),
  .partners .contenedor-compañias .compañia-item:nth-child(11) {
    border-left: 1px solid #9e9e9e;
  }
  .partners .contenedor-compañias .compañia-item:nth-child(9),
  .partners .contenedor-compañias .compañia-item:nth-child(10),
  .partners .contenedor-compañias .compañia-item:nth-child(11),
  .partners .contenedor-compañias .compañia-item:nth-child(12) {
    border-bottom: none;
  }
}

.primer-seccion {
  width: 100%;
}

.primer-seccion .contenedor {
  padding: 100px 0;
}

.primer-seccion .header-primer-seccion {
  width: 100%;
  margin-bottom: 25px;
}

.primer-seccion .header-primer-seccion .titulos-grandes {
  color: var(--color-textos-grandes);
}

.primer-seccion .contenido-primer-seccion {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
}

.primer-seccion h1 {
  text-align: center;
}

.primer-seccion span {
  padding: 3px 5px 3px 0;
  display: inline-block;
  width: 100%;
}

.primer-seccion .lista-primer-seccion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 50px;
  color: #f5f5f5;
}

.primer-seccion .lista-primer-seccion li {
  -ms-flex-preferred-size: 80px;
      flex-basis: 80px;
  margin: 5px 15px;
  text-align: center;
}

.primer-seccion .lista-primer-seccion li p {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 0.75rem;
}

@media (min-width: 768px) {
  .primer-seccion .contenido-primer-seccion {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .primer-seccion .contenido-primer-seccion .textos-comunes {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    padding: 0 25px;
    line-height: 40px;
  }
}

@media (min-width: 1440px) {
  .header-primer-seccion {
    margin-bottom: 50px;
  }
  .contenido-primer-seccion {
    margin-bottom: 100px;
  }
  .contenido-primer-seccion .textos-comunes {
    line-height: 50px;
  }
  .header-primer-seccion {
    height: 200px;
  }
}

.portfolio {
  background: #f5f5f5;
}

.portfolio .contenedor {
  padding: 100px 0;
}

.cartas-portfolio {
  width: 100%;
  margin-top: 50px;
  padding-bottom: 25px;
}

.cartas-portfolio .mini-texto {
  -webkit-transform: scale(1, 1.3);
          transform: scale(1, 1.3);
}

.cartas-portfolio .textos-comunes {
  color: #a0a0a0;
  font-size: 0.75rem;
}

.cartas-portfolio .imagenes-portfolio {
  width: 100%;
  height: 550px;
  background: url(../images/woman-in-black-jacket-and-jeans-standing-beside-wall-with-3956803.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.partners {
  padding: 85px 0;
}

.partners .header-partners {
  margin-bottom: 75px;
  padding: 0 8px;
}

.partners .textos-medianos {
  width: 60%;
  color: var(--color-textos-grandes);
  letter-spacing: 2px;
  font-size: 1.65rem;
}

.partners .contenedor-compañias {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 95%;
  margin: 0 auto;
}

.partners .compañia-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  height: 150px;
  padding: 15px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.partners .compañia-item img {
  -webkit-filter: opacity(70%);
          filter: opacity(70%);
}

.partners .compañia-item:nth-child(odd) {
  border-right: 1px solid #9b9b9b;
  border-bottom: 1px solid #9e9e9e;
}

.partners .compañia-item:nth-child(even) {
  border-bottom: 1px solid #9e9e9e;
}

.partners .compañia-item:nth-child(11),
.partners .compañia-item:nth-child(12) {
  border-bottom: none;
}

.testimonios {
  background: #f5f5f5;
  padding: 85px 0 55px;
  overflow-x: hidden;
}

.testimonios .item-carrete {
  overflow: hidden;
  max-width: 700px;
  padding: 15px 0;
  margin: 0 auto;
}

.testimonios .item-carrete .imagen-item-carrete {
  background: url(../images/woman-wearing-eyeglasses-3584758.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 120px;
  width: 120px;
  margin: 0 auto;
  border-radius: 50%;
  margin-bottom: 35px;
}

.testimonios .item-carrete .descripcion-item-carrete {
  background: var(--color-textos-grandes);
  position: relative;
  margin-bottom: 25px;
}

.testimonios .item-carrete .descripcion-item-carrete:after {
  content: "";
  background: var(--color-textos-grandes);
  position: absolute;
  width: 35px;
  height: 35px;
  top: -5px;
  left: calc(50% - 20px);
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  z-index: 0;
}

.testimonios .item-carrete .textos-comunes {
  position: relative;
  z-index: 9;
  color: white;
  text-align: justify;
  width: 100%;
  font-weight: 900;
  letter-spacing: 0;
  font-size: 0.72rem;
  padding: 15px;
  margin: 0;
}

.testimonios .item-carrete .nombre-item-carrete {
  margin-bottom: 20px;
  width: 100%;
  height: 25px;
  text-align: center;
}

.testimonios .item-carrete .nombre-item-carrete .mini-texto {
  color: var(--fondo-obscuro);
  font-family: var(--fuente-parrafos);
  font-size: 0.75rem;
}

.testimonios .item-carrete .nombre-item-carrete span {
  color: #7a7a7a;
}

.testimonios .swiper-pagination-bullet-active {
  background-color: var(--fondo-obscuro);
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  margin: 0 15px !important;
}

.testimonios .swiper-puntitos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonios .swiper-pagination-bullet {
  background: red;
}

.blog {
  background: #f5f5f5;
  padding: 80px 0;
}

.blog .header-blog {
  margin-bottom: 55px;
}

.blog .cartas-blog {
  margin: 0 auto 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 500px;
  background: #eeeeee;
  padding-bottom: 25px;
}

.blog .cartas-blog .contenedor-imagen-blog {
  margin-bottom: 25px;
  width: 100%;
}

.blog .cartas-blog .tags-blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  margin-bottom: 25px;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blog .cartas-blog .tags-blog .icono-tag {
  width: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.85rem;
  color: var(--color-textos-grandes);
}

.blog .cartas-blog .tags-blog li {
  font-size: 0.7rem;
  padding: 0 10px;
  color: #686868;
}

.blog .cartas-blog .textos-comunes {
  font-family: var(--fuente-parrafos);
  font-size: 0.55rem;
  letter-spacing: 2px;
}

.blog .cartas-blog .footer-cartas {
  width: 100%;
  height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 1024px) {
  .blog .contenedor {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .blog .header-blog {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .blog .cartas-blog {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .blog .cartas-blog .contenedor-imagen-blog {
    height: 190px;
  }
  .blog .cartas-blog .contenedor-imagen-blog img {
    width: 100%;
  }
}

.footer-home {
  font-family: var(--fuente-parrafos);
  text-transform: uppercase;
  font-size: 0.95rem;
  color: #f5f5f5;
  padding-top: 80px;
}

.footer-home .contenedor {
  max-width: 1400px;
}

.footer-home .logo-footer {
  height: 60px;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--color-textos-grandes);
}

.footer-home .nav-footer,
.footer-home .redes-sociales {
  font-weight: 900;
  height: 200px;
  margin-bottom: 50px;
}

.footer-home .nav-footer ul,
.footer-home .redes-sociales ul {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

.footer-home .contacto-footer {
  margin-bottom: 50px;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: space-evenly;
      -ms-flex-align: space-evenly;
          align-items: space-evenly;
}

.footer-home .contacto-footer .mail,
.footer-home .contacto-footer .telefono,
.footer-home .contacto-footer .direccion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.7rem;
}

.footer-home .contacto-footer .mail i,
.footer-home .contacto-footer .telefono i,
.footer-home .contacto-footer .direccion i {
  margin: 0px 10px;
}

.footer-home .contacto-footer .direccion {
  width: 70%;
  margin: 0 auto;
  line-height: 25px;
  text-align: center;
}

.footer-home .redes-sociales {
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 0.8rem;
}

.footer-home .copy {
  text-align: center;
}

@media (min-width: 768px) {
  .footer-home {
    height: 500px;
  }
  .footer-home .contenedor {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer-home .logo-footer,
  .footer-home .nav-footer,
  .footer-home .redes-sociales {
    -ms-flex-preferred-size: 20%;
        flex-basis: 20%;
  }
  .footer-home .contacto-footer {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
  }
  .footer-home .copy {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}
/*# sourceMappingURL=styles.css.map */